<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>.<p>
		<p>
		<li>View your <a href="/profile">profile</a></li>
		<% if(user.mfaRegistered) {%>
		<li>MFA already registered!</li>
		<%} else {%>
		<li>Register MFA <a href="/mfa">Click Here</a></li>
		<%}%>
		</p>
<% } %>
