<canvas id="canvas"></canvas>

<script src="qrcode.min.js"></script>
<script>
  QRCode.toCanvas(document.getElementById('canvas'), "<%= otpUrl%>" , function (error) {
    if (error) console.error(error)
    console.log('success!');
  })
</script>

<form action="/verify" method="post"><input name="token" required="" />
  <input type="submit" value="Verify" />
</form>
<p><a href="/">Home</a></p>
